.main-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contact {
    width: 100%;
    max-width: 500px;
    background: #e6e6e6;
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 14px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    height: 600px;
}

.contact label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

textarea[name="message"] {
    min-height: 250px;
    resize: vertical;
}

.contact button {
    width: 32%;
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
}
