.sectionHowMany {
    padding: 30px 0px 10px 0px;
    display: flex;
    align-items: center;
    max-width: 1440px;
    gap: 15px;
    margin: 0;
}

.label {
    text-align: center;
}

.portionValue {
    height: 32px;
    min-width: 100px;
    padding: 0 5px;
    border-radius: 8px 0 0 8px;
    border: 1px solid #ccc;
}

.inputButton {
    display: flex;
}

.inputButton button {
    height: 32px;
    padding: 0 38px;
    margin-top: 0 !important;
    background-color: rgb(0, 128, 0);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.sectionTable {
    padding: 0px 0px 30px 0px;
    width: 100%;
    max-width: 1440px;
    margin: 0;
}

table {
    width: 100%;
}

td {
    padding: 10px;
}

.tdLeft {
    width: 120px;
    border-radius: 8px 0 0 8px;
    padding-left: 35px;
}

.tdRight {
    border-radius: 0 8px 8px 0;
}

tr:nth-child(odd) {
    background-color: rgb(239, 239, 239);
}

#error {
    margin: 0;
    padding: 0 60px 0 60px;
    display: flex;
    max-width: 1440px;
    color: red;
}

.header img {
    max-width: 1440px;
    height: 128px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    padding-left: 40px;
    padding-right: 40px;
}

.recipeInfo {
    padding-top: 30px;
}

.recipeInfo span {
    background-color: rgb(226, 225, 225); 
    color: rgb(64,59,73);
    border-radius: 8px;
    padding: 5px;
}

.infos {
    display: flex;
    gap: 15px;
}

.infos span img.icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: middle;
}

.howto {
    max-width: 1440px;
}

.howToInfo span {
    background-color: rgb(226, 225, 225);
    color: rgb(64, 59, 73);
    border-radius: 8px;
    padding: 5px;
}

.creator {
    text-align: left;
    padding-bottom: 25px;
}

.creator h2 {
    padding-top: 30px;
}

.creator .row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.creator img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 50%;
}

.recipe-content {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.headerRecipe h1 {
    padding-bottom: 15px;
    padding-top: 10px;
    font-size: 24px;
}

.headerRecipe img {
    width: 100%;
    height: 128px;
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 394px) {

    .sectionHowMany {
        display: block;
    }
}